<%=form_with model:@order_item, class: "form-class" do |form| %>
    <table>
    <tr>
        <td><%= "How many #{@order_item.name}s would you like?"%></td>
        <td><%= form.hidden_field :name%></td>
    </tr>
    <tr>
        <td><%= label(:quantity,"Qty")%>
        <%= form.number_field :quantity, min:1, value: 1%></td>
    </tr>
    <tr>
        <td><%= form.submit "Add to order", class: "button-class"%></td>
    </tr>
    </table>
<%end%>